.box {
    height: 100lvh;
}

.admin-panel {
    height: 100lvh;
}

.accordion {
    width: 90%!important;
}

tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

td {
    display: table-cell;
    width: calc(120px);
    overflow-x: scroll;
    text-align: start;
}

.tbody {
    width: 100%;
}

.red{
    color: red;
}

.green {
    color: green;
}

.accordion-body {
    padding: 0!important;
    overflow-y: scroll!important;
}

span {
    cursor: pointer;
}


.offcanvas {
    width: 40vw!important;
}

.body-e {
    width: 100%;
    display: flex;
    flex-direction: column;
}