@media screen and (max-width: 1024px) {
    .main-bar {
        flex-direction: column;
    }

    .filter-bar {
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }

    .search-form {
        width: 100%;
    }

    .cards-bar {
        width: 100%;
    }

    .explain {
        text-align: center;
    }

    .copyright {
        font-size: 10px;
    }

    .navbar {
        padding-top: 0;
    }

    .logo{
        margin-left: 20px;
        width: 90px;
        height: 90px;
    }

    .card {
        width: 40%!important;
        height: 200px!important;
    }

    .card-body {
        height: 40%!important;
        padding: 5px!important;
    }

    .card-body h5, p, span {
        font-size: 10px!important;
    }

    .card-body hr {
        margin: 2px;
    }

    .card-f {
        height: fit-content;
    }
}