@media screen and (max-width: 1024px) {
    .main-bar {
        flex-direction: column;
        padding: 5px;
    }

    .filter-bar {
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
        height: fit-content
    }

    .search-form {
        width: 100%;
    }

    .cards-bar {
        width: 100%;
        gap: 10px;
    }

    .explain {
        text-align: center;
    }

    .copyright {
        font-size: 10px;
    }

    .navbar {
        padding-top: 0;
    }

    .logo{
        margin-left: 20px;
        width: 90px;
        height: 90px;
    }

    .card {
        height: 300px!important;
        width: 45%!important;
    }

    .card-img-top img {
        height: 100%;
        width: 100%;
    }

    .card-body {
        height: fit-content!important;
        padding: 5px!important;
    }

    .card-body hr {
        margin: 2px;
    }

    .card-f {
        height: fit-content;
    }
}