@media screen and (max-width: 1024px) {
    .main-bar {
        flex-direction: column;
        padding: 5px;
    }

    .filter-bar {
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
        height: 30vh;
    }

    .search-form {
        width: 100%;
    }

    .cards-bar {
        width: 100%;
        gap: 10px;
    }

    .not-found {
        text-align: center;
    }

    .copyright {
        font-size: 10px;
    }
    
    .card {
        width: 45%!important;
    }

    .card-body {
        height: fit-content!important;
        
        padding: 5px!important;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .price, .no-price {
        width: 100%;
    }

    .card-f {
        height: fit-content;
    }

    .price-box {
        width: 50%;
    }

    .card-img-top {
        height: 40%;
    }

    .navbar {
        padding-top: 0px;
    }
    
    .logo {
        margin-left: 20px;
        height: 90px;
        width: 90px;
    }

    .card-body hr {
        margin: 8px;
    }

    .card-text {
        justify-content: center!important;
        gap: 2px!important;
    }

    .card-btn {
        transform: scale(0.9);
    }

}